// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*new画面　始まり*/
.article-box{
  padding: 20px;
}

.article-form-group{
  padding: 10px;
}
/*new画面　終わり*/

/*index画面　始まり*/
.new_article{
  padding: 10px;
}

.article_all{
  display: flex;
  justify-content: space-around;
}

.article{
  text-align: center;
}

.article-date-index{
  padding: 10px;
}

.article-title-index{
  padding: 10px;
}
/*index画面　終わり*/

/*show画面　始まり*/
.article-image{
  padding: 20px;
}

.article-title{
  text-decoration: underline;
  padding: 20px;
  font-size: 20px;
}

.article-text{
  word-break: break-all;
  padding: 20px;
}
/*show画面　終わり*/